* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid .r-1 {
    padding: 10px 15px;
    background-color: #008374;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-bottom: 1px solid rgb(8, 145, 110);
}

.cs-color {
    background-color: #00796B;
}

.dot {
    color: #F96F59;
    font-size: 3rem;
}

.icon-btm {
    text-align: right;
}

.social-icon {
    font-size: 1.2rem;
    margin-top: 10px;
}

.social-icon i {

    margin-left: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.social-icon i:hover {
    opacity: 1;
}

.nav ul {
    margin-top: 10px;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.s-nav {
    text-align: right;
    margin-top: 20px;
}

.s-nav ul li {
    display: inline-block;
    list-style-type: none;
}

.s-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 10px;
    padding-bottom: 5px;
    transition: .4s;
}

.s-nav ul li a:hover {
    border-bottom: 2px solid #F96F59;
}

.head-btn {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.head-btn:hover{
    border: 1px solid white;
}
.sb-head{
    margin-bottom: 10px;
}